body {
  font-family: Arial, sans-serif;
  background-color: #141414;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(165, 208, 251);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(70 129 137);
}

h1, h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
  color: #3c2d2d;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;

}


button {
  background-color: #4782fa;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3em;
}

button:hover {
  background-color: #2469f4;
}

.outfit-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.outfit-card {
  background: #fafafa;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.outfit-card img {
  width: 100%;
  border-radius: 5px;
}

.outfit-card button {
  margin-top: 5px;
  background-color: red;
}

.outfit-card button:hover {
  background-color: darkred;
}

.casual { background-color: rgb(161, 247, 161); }
.formal { background-color: rgb(208, 152, 244);  }
.sport { background-color: rgb(221, 238, 155);  }

#outfitImage{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#categoryFilter{
  background-color: rgb(203, 242, 238);
  padding: 10px 10px;
  border-radius: 17px;
  border: none;
  color: #000000;
  font-weight: bold;
}

#question1{
  color: #000000;

}

#outfitName{
  color: black;
  border-radius: 10px;
  border: none;
  background-color: rgb(203, 242, 238);
  margin-top: none;
  padding: 10px;
  font-size: 16px;
}

#CategoryContainer{
  background-color: rgb(203, 242, 238);;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
}
#CategoryContainer{
  background-color: rgb(203, 242, 238);
  margin: 0;
  padding: 20px;
  border-radius: 10px;
}

#myOutfits{
  background-color: rgb(165, 208, 251);
  border-radius: 10px;
  padding: 20px;
}

#outfitDate{
  background-color: rgb(203, 242, 238);
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 34px;
}